controladorNODERED
[{"id":"f5a0c938.391398","type":"subflow","name":"DatosPrecalificacion (2)","info":"","in":[{"x":1619.75,"y":1434.449951171875,"wires":[{"id":"f187e1dc.e3b8c"}]}],"out":[{"x":2277.36669921875,"y":1548.816650390625,"wires":[{"id":"fbc71b7e.29ffc8","port":0}]},{"x":2291.36669921875,"y":1645.816650390625,"wires":[{"id":"fbc71b7e.29ffc8","port":1}]}]},{"id":"42971ef1.9ec618","type":"http request","z":"f5a0c938.391398","name":"Chatbot","method":"POST","ret":"txt","url":"https://201.134.132.139:7443/WebService/precaws/NA/QA/ChatBoot","tls":"ae6efa9f.3e816","x":1898.75,"y":1433.449951171875,"wires":[["66e7e391.546b0c"]]},{"id":"f187e1dc.e3b8c","type":"function","z":"f5a0c938.391398","name":"","func":"//msg.url\nvar nss=msg.mensaje;\nmsg.method=\"SOCLDR01Operation\";\nmsg.headers=\"POST https://201.134.132.139:7443/WebService/precaws/NA/QA/ChatBoot HTTP/1.1 Accept-Encoding: gzip,deflate Content-Type: text/xml;charset=UTF-8 SOAPAction: \\\"\\\" Content-Length: 1522 Host: 201.134.132.139:7443 Connection: Keep-Alive User-Agent: Apache-HttpClient/4.5.2 (Java/1.8.0_131)\";\n//msg.cookies\nmsg.payload=\"<soapenv:Envelope xmlns:soapenv=\\\"http://schemas.xmlsoap.org/soap/envelope/\\\" xmlns:soc=\\\"http://www.SOCLDR01.COPIENT1.Request.com\\\">\"+\n   \"<soapenv:Header/>\"+\n   \"<soapenv:Body>\"+\n      \"<soc:SOCLDR01Operation>\"+\n         \"<soc:ws_entradas>\"+\n         \"   <soc:ws_ent_p_proceso/>\"+\n          \"  <soc:ws_ent_p_usu/>\"+\n           \" <soc:ws_ent_p_nrp_sol/>\"+\n            \"<soc:ws_ent_p_opc/>\"+\n            \"<soc:ws_ent_p_nss>\"+nss+\"</soc:ws_ent_p_nss>\"+\n            \"<soc:ws_ent_p_pen_ali_mon/>\"+\n            \"<soc:ws_ent_p_edo_mun/>\"+\n            \"<soc:ws_ent_p_ssv_aho/>\"+\n            \"<soc:ws_ent_p_sdo_aho/>\"+\n            \"<soc:ws_ent_p_opc_aho/>\"+\n            \"<soc:ws_ent_p_mon_aho/>\"+\n            \"<soc:ws_ent_p_ing_pro/>\"+\n            \"<soc:ws_ent_p_lad_cel/>\"+\n            \"<soc:ws_ent_p_tel_tra>2 P    6</soc:ws_ent_p_tel_tra>\"+\n            \"<soc:ws_ent_p_pro_esp/>\"+\n            \"<soc:ws_ent_p_paq_sub/>\"+\n            \"<soc:ws_ent_p_lin_cre/>\"+\n            \"<soc:ws_ent_p_ind_dis/>\"+\n            \"<soc:ws_ent_p_nvo_val_ope/>\"+\n            \"<soc:ws_ent_p_nvo_mmc/>\"+\n            \"<soc:ws_ent_p_nvo_sdo_aho/>\"+\n            \"<soc:ws_ent_p_nvo_mon_aho/>\"+\n            \"<soc:ws_ent_p_nvo_des/>\"+\n            \"<soc:ws_ent_p_nrp_sol_cny/>\"+\n            \"<soc:ws_ent_p_nss_cny/>\"+\n            \"<soc:ws_ent_p_pen_ali_cny/>\"+\n            \"<soc:ws_ent_p_nvo_mmc_cny/>\"+\n            \"<soc:ws_ent_p_nvo_des_cny/>\"+\n            \"<soc:ws_ent_p_nvo_val_ter/>\"+\n            \"<soc:ws_ent_p_cos_tve/>\"+\n            \"<soc:ws_ent_p_aho_tve/>\"+\n         \"</soc:ws_entradas>\"+\n      \"</soc:SOCLDR01Operation>\"+\n   \"</soapenv:Body>\"+\n\"</soapenv:Envelope>\";\nreturn msg;","outputs":1,"noerr":0,"x":1749.75,"y":1434.449951171875,"wires":[["42971ef1.9ec618"]]},{"id":"66e7e391.546b0c","type":"xml","z":"f5a0c938.391398","name":"","attr":"","chr":"","x":1797.75,"y":1543.449951171875,"wires":[["c33a5437.9ccaf","14ce68b4.53fc7f"]]},{"id":"c33a5437.9ccaf","type":"function","z":"f5a0c938.391398","name":"Salida WS","func":"var envelope= msg.payload[\"soapenv:Envelope\"];\nvar body=envelope[\"SOAP-ENV:Body\"];\nvar respuesta=body[0];\nvar iniciorespuesta=respuesta[\"SOCLDR01OperationResponse\"];//JSON.stringify(respuesta);\nvar salidas=iniciorespuesta[0].ws_salidas;\nmsg.payload.preca={};\nmsg.payload.preca.iniciorespuesta=iniciorespuesta;\nmsg.payload.preca.salidas=salidas;\n\nmsg.payload.preca.respuesta=parseInt(salidas[0].ws_sal_p_res[0]);\nmsg.payload.preca.tipocasa = \"N\";\nmsg.payload.preca.uma=parseFloat(salidas[0].ws_sal_p_smd_ze[0]);\nmsg.payload.preca.edad=parseInt(salidas[0].ws_sal_p_edad[0]);\nmsg.payload.preca.puntos=parseInt(salidas[0].ws_sal_p_eda_sal_pto[0]);\nmsg.payload.preca.salario=parseFloat(salidas[0].ws_sal_p_sal_dia_mon[0]);\nif (msg.payload.preca.uma===null||\nmsg.payload.preca.edad===null||\nmsg.payload.preca.puntos===null||\nmsg.payload.preca.puntos===null||\nmsg.payload.preca.salario===null)\n{\n    msg.aplica=false;\n}\nelse\n{\n    msg.aplica=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1983.75,"y":1544.449951171875,"wires":[["fbc71b7e.29ffc8"]]},{"id":"14ce68b4.53fc7f","type":"debug","z":"f5a0c938.391398","name":"","active":true,"console":"false","complete":"false","x":1860.2000732421875,"y":1648.4166259765625,"wires":[]},{"id":"fbc71b7e.29ffc8","type":"switch","z":"f5a0c938.391398","name":"","property":"aplica","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":2147.36669921875,"y":1548.816650390625,"wires":[[],[]]},{"id":"ae6efa9f.3e816","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"cc2c796a.7ed838","type":"subflow","name":"ValidaEstadoDerechohabiente","info":"","in":[{"x":560,"y":520,"wires":[{"id":"f5774d13.a1f9c"}]}],"out":[{"x":940,"y":620,"wires":[{"id":"feac70d4.ce4c","port":1}]}]},{"id":"f5774d13.a1f9c","type":"function","z":"cc2c796a.7ed838","name":"","func":" msg.headers = {\n     \"Content-type\" : \"application/json\",\n     \"x-ibm-client-id\": \"3480401d-4976-4315-9944-f69a1810dd3e\"\n };\n var nss=msg.mensaje;\n var url= \"https://api.us.apiconnect.ibmcloud.com/pedrombaorg-dev/infonavit/api/trabajador/valida?format=json,1.1&codigoOperacion=00&nss=\" + nss;\nmsg.url = url;\n\n return msg;\n","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["1ab9570a.7ed651"]]},{"id":"1ab9570a.7ed651","type":"http request","z":"cc2c796a.7ed838","name":"","method":"GET","ret":"obj","url":"","tls":"","x":922,"y":494,"wires":[["feac70d4.ce4c"]]},{"id":"feac70d4.ce4c","type":"switch","z":"cc2c796a.7ed838","name":"","property":"payload.httpCode","propertyType":"msg","rules":[{"t":"eq","v":"404","vt":"str"},{"t":"null"}],"checkall":"true","outputs":2,"x":810,"y":620,"wires":[["f5774d13.a1f9c"],[]]},{"id":"4096bd78.50c548","type":"subflow","name":"Publica Facebook","info":"","in":[{"x":120,"y":140,"wires":[{"id":"430e92dd.3c90e"}]}],"out":[]},{"id":"400d9519.6ebb28","type":"debug","z":"4096bd78.50c548","name":"","active":true,"console":"false","complete":"false","x":550,"y":200,"wires":[]},{"id":"6ade4b9c.33ce8c","type":"http response","z":"4096bd78.50c548","name":"","statusCode":"","headers":{},"x":790,"y":140,"wires":[]},{"id":"430e92dd.3c90e","type":"function","z":"4096bd78.50c548","name":"Format Send Request","func":"var messageText = context.global.resultado;\nvar senderId = context.global.sid;\nmsg.payload = \n{\n    \"recipient\": {\n        \"id\": senderId \n    }, \n    \"message\": { \n        \"text\": messageText\n    } \n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["491888f6.25d828","400d9519.6ebb28"]]},{"id":"491888f6.25d828","type":"http request","z":"4096bd78.50c548","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAGaoyTYm7sBAEyvYP10ZBLRh4s3TQ0SiXAg3qsAunZCT9JwCK8OOJbx9EAjlZArntDs5WZAIhBkohqDZCWcfdyM5ZBQaRZA43RigWzr6awNgYFnwryZBWhSbqs43BQ9N3KYoQw7bqsHAY4i4vT2B5pIG1wiVUdFISH2HrVvrnFqEAZDZD","tls":"","x":570,"y":140,"wires":[["6ade4b9c.33ce8c","10529dc3.149cde"]]},{"id":"10529dc3.149cde","type":"debug","z":"4096bd78.50c548","name":"log4","active":true,"console":"false","complete":"payload","x":790,"y":80,"wires":[]},{"id":"677b9096.a355a8","type":"debug","z":"c28b499.b9836b8","name":"Pregunta Entrante","active":true,"console":"false","complete":"true","x":406.0833282470703,"y":179,"wires":[]},{"id":"7845c293.8b9b3c","type":"debug","z":"c28b499.b9836b8","name":"Evaluacion Confiabilidad","active":true,"console":"false","complete":"true","x":2043.0833740234375,"y":592,"wires":[]},{"id":"6543256f.d5da7c","type":"function","z":"c28b499.b9836b8","name":"Set Conversation Input","func":"\ncontext.global.rid = \"\"; //Asginar RID\nif (msg.payload.texto===\" \")\n{\n    msg.payload.texto=\"hola\";\n}\ncontext.global.busqueda=msg.payload.texto;\ncontext.global.pregunta=msg.payload.texto;\nmsg.payload = msg.payload.texto;\n    /*msg.payload = msg.payload.replace( /\\t/ , \"\");\n    msg.payload = msg.payload.replace( /\\n/ , \"\");\n    msg.payload = msg.payload.replace( /\\r/ , \"\");\n    msg.payload = msg.payload.replace( /\\b/ , \"\");\n    msg.payload = msg.payload.replace( /\\f/ , \"\");\n    msg.payload = msg.payload.replace( \"=\" , \"\");*/\nmsg.user=context.global.sid;\nreturn msg;","outputs":1,"noerr":0,"x":1070.0833129882812,"y":464,"wires":[["c40ddaa6.864478"]]},{"id":"561f1338.186f74","type":"switch","z":"c28b499.b9836b8","name":"","property":"buscar","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":2123.0833740234375,"y":472,"wires":[["981911fd.7856e"],["2616270a.0333d8"]]},{"id":"49a9195e.bb4808","type":"function","z":"c28b499.b9836b8","name":"Revisa Necesidad Busqueda","func":"context.global.buscar=false;\nmsg.buscar=false;\nmsg.payload.context.user=context.global.sid;\ncontext.global.nss=msg.payload.context.esperanss;\ncontext.global.resultado=msg.payload.output.text[0];\nmsg.nss=context.global.nss;\ncontext.global.contexto=msg.payload.context;\n\ncontext.global.buscar=msg.payload.context.buscar;\nmsg.buscar=msg.payload.context.buscar;\n\nif (msg.payload!==undefined)\n{\n    \n    if (msg.payload.intents.length===0)\n    {\n        context.global.buscar=true;\n        msg.buscar=true;\n    }\n    else\n    {\n        if(msg.payload.intents[0].confidence!==undefined && msg.payload.intents[0].confidence<0.8)\n            {\n            context.global.buscar=true;\n            msg.buscar=true;\n            }\n    }\n}\nelse\n{\n        context.global.buscar=true;\n        msg.buscar=true;  \n}\nreturn msg;","outputs":1,"noerr":0,"x":1887.0834197998047,"y":477,"wires":[["7845c293.8b9b3c","561f1338.186f74"]]},{"id":"4090720b.01b984","type":"watson-conversation-v1","z":"c28b499.b9836b8","name":"Conversacion","workspaceid":"0f142641-b76f-4f00-9bb5-37627ae92d1b","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":1663.0833740234375,"y":472,"wires":[["49a9195e.bb4808","a7cb368d.fe2e78"]]},{"id":"c40ddaa6.864478","type":"switch","z":"c28b499.b9836b8","name":"","property":"sid","propertyType":"global","rules":[{"t":"neq","v":"315398352242512","vt":"str"},{"t":"eq","v":"315398352242512","vt":"str"}],"checkall":"true","outputs":2,"x":1338.0833740234375,"y":463,"wires":[["4090720b.01b984"],["f4f265cf.62e8b"]]},{"id":"f4f265cf.62e8b","type":"debug","z":"c28b499.b9836b8","name":"salida sin exito","active":false,"console":"false","complete":"payload","x":1608.083480834961,"y":594.9999694824219,"wires":[]},{"id":"cea59511.c58528","type":"switch","z":"c28b499.b9836b8","name":"Es Feedback","property":"feedback","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":849.0833129882812,"y":577,"wires":[["e252db4a.19655","e76c1949.397e28","62b57a84.237e04"],["6543256f.d5da7c"]]},{"id":"b9ada241.a97fe","type":"function","z":"c28b499.b9836b8","name":"DetectaFeedBack","func":"if (isNaN(context.global.nss))\n    {context.global.nss=false;\n    msg.esnumerico=false ;\n    msg.nss=false;\n    msg.esnss=false;}\n    if (isNaN(msg.esnss))\n    {msg.esnss=false;}\n    \nif ((msg.payload.texto!==undefined && msg.payload.texto.indexOf(\"No\")!=-1) || msg.payload.texto===undefined)\n    {context.global.feedback=true;\n    msg.feedback=true;\n}\nelse\n    {\n    \n    context.global.feedback=false;\n    msg.feedback=false;\n    var mensaje=msg.payload.texto;\n    var esnumerico = !isNaN(Number(mensaje));\n    context.global.esnumerico=esnumerico;\n    msg.esnumerico=esnumerico ;\n    msg.nss=context.global.nss;\n    msg.esnss=esnumerico&&context.global.nss;\n    msg.mensaje=mensaje;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510.08331298828125,"y":387,"wires":[["2541864f.635c92","cdb9ec66.e36de"]]},{"id":"62b57a84.237e04","type":"debug","z":"c28b499.b9836b8","name":"ES FEEDBACK","active":false,"console":"false","complete":"payload","x":1079.0833740234375,"y":806,"wires":[]},{"id":"87c923e6.d4941","type":"subflow:4096bd78.50c548","z":"c28b499.b9836b8","x":1429.0833740234375,"y":766,"wires":[]},{"id":"e252db4a.19655","type":"function","z":"c28b499.b9836b8","name":"Gracias por el feedback","func":"context.global.resultado=\"Gracias, sigo en entrenamiento y pronto podré brindar mejor información\";\ncontext.global.feedback=false;\nmsg.payload.entry[0].messaging.postback=null;\nreturn msg;","outputs":1,"noerr":0,"x":1119.0833740234375,"y":766,"wires":[["87c923e6.d4941"]]},{"id":"2541864f.635c92","type":"debug","z":"c28b499.b9836b8","name":"Revisión Feedback","active":false,"console":"false","complete":"true","x":792.083251953125,"y":386,"wires":[]},{"id":"e76c1949.397e28","type":"function","z":"c28b499.b9836b8","name":"Prepara Registro","func":"var resultado=msg.payload.entry[0].messaging[0].postback.payload;\nvar longi=resultado.length;\nvar r=resultado.substring(0,2);\nvar p=resultado.substring(6,longi);\n\nmsg.payload =\n{\n   R : r,\n   P : p\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1089.0833740234375,"y":726,"wires":[["ea37e3e1.bfca9"]]},{"id":"ea37e3e1.bfca9","type":"dashDB out","z":"c28b499.b9836b8","dashDB":"","service":"dashDB for Analytics-c2","table":"FEEDBACK","name":"GuardaFeedback","x":1429.0833740234375,"y":726,"wires":[]},{"id":"cdb9ec66.e36de","type":"switch","z":"c28b499.b9836b8","name":"Espera NSS","property":"esnss","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":696.083251953125,"y":673,"wires":[["cea59511.c58528"],["50a8be01.a172c"]]},{"id":"5ab874e5.f63264","type":"debug","z":"c28b499.b9836b8","name":"ES EL NSS QUE ESPERABA","active":false,"console":"false","complete":"true","x":1486.0833282470703,"y":1239,"wires":[]},{"id":"50a8be01.a172c","type":"function","z":"c28b499.b9836b8","name":"Reinicia Estado NSS","func":"context.global.nss=false;\nmsg.nss=false;\nmsg.esnss=false;\nreturn msg;","outputs":1,"noerr":0,"x":506.0833282470703,"y":1119,"wires":[["71f7bfe7.a30d3"]]},{"id":"68f545ab.59de6c","type":"function","z":"c28b499.b9836b8","name":"ObtenResultadoValidación","func":"msg.trabajadorvalido=msg.payload.StartFlowResponse.DatosIdentifica.trabajadorValido.$;\nreturn msg;","outputs":1,"noerr":0,"x":855.0833282470703,"y":1568.9999694824219,"wires":[[]]},{"id":"17d62b24.1efed5","type":"switch","z":"c28b499.b9836b8","name":"","property":"trabajadorvalido","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1235.083267211914,"y":1120.9999389648438,"wires":[["da93727f.725cc8"],["8807b8fc.b7f64"]]},{"id":"da93727f.725cc8","type":"function","z":"c28b499.b9836b8","name":"EstableceMensaje","func":"context.global.resultado=\"Eres un trabajador válido.\";\nreturn msg;","outputs":1,"noerr":0,"x":1636.0833282470703,"y":1099,"wires":[["ab6b39a8.028bb"]]},{"id":"93de30f5.332bd8","type":"subflow:cc2c796a.7ed838","z":"c28b499.b9836b8","name":"","x":568.0833282470703,"y":1561.9999694824219,"wires":[["695ad10c.10b4d","68f545ab.59de6c"]]},{"id":"a7cb368d.fe2e78","type":"debug","z":"c28b499.b9836b8","name":"","active":false,"console":"false","complete":"true","x":1877.0833740234375,"y":642.25,"wires":[]},{"id":"695ad10c.10b4d","type":"debug","z":"c28b499.b9836b8","name":"","active":false,"console":"false","complete":"false","x":860.0833282470703,"y":1526.9999694824219,"wires":[]},{"id":"8807b8fc.b7f64","type":"function","z":"c28b499.b9836b8","name":"No localizo trabajador","func":"context.global.resultado=\"No eres un trabajador registrado, lo siento\";\nreturn msg;","outputs":1,"noerr":0,"x":1646.0833282470703,"y":1159,"wires":[["2758ae4e.f6d152"]]},{"id":"19b3cdb3.798642","type":"catch","z":"c28b499.b9836b8","name":"","scope":["93de30f5.332bd8"],"x":717.0833282470703,"y":1404.9999694824219,"wires":[["31801357.f3559c"]]},{"id":"31801357.f3559c","type":"function","z":"c28b499.b9836b8","name":"Falla Servicio","func":"context.global.resultado=\"Lo siento, por el momento no te puedo brindar información. Intenta más tarde.\";\nreturn msg;","outputs":1,"noerr":0,"x":907.0833282470703,"y":1420.4999694824219,"wires":[["ffeb39f5.0b4b38"]]},{"id":"ffeb39f5.0b4b38","type":"subflow:4096bd78.50c548","z":"c28b499.b9836b8","x":1118.0833282470703,"y":1442.9999694824219,"wires":[]},{"id":"2616270a.0333d8","type":"function","z":"c28b499.b9836b8","name":"","func":"\n\nvar textosalida=context.global.resultado;\nvar texto=context.global.resultado;\nmsg.contexto=context.global.contexto;\n\n    context.global.resultado=texto;\n    context.global.contexto.texto=texto;\n    msg.payload=context.global.contexto;\nreturn msg;","outputs":1,"noerr":0,"x":2354.0833740234375,"y":479.75,"wires":[["1651602d.739e3","5abd9c18.6f088c"]]},{"id":"23e9ab16.4b0ecc","type":"inject","z":"c28b499.b9836b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1397.5833282470703,"y":1526.9999084472656,"wires":[["449e5636.ace4e8"]]},{"id":"78db2bc9.0d4b24","type":"business-rules","z":"c28b499.b9836b8","service":"Infonavit_BR1","rulesets":"/decisionRuleApp/6.0/decisionRuleset/1.0","ruleset":"/decisionRuleApp/6.0/decisionRuleset/1.0","x":2409.8667755126953,"y":1099.183349609375,"wires":[["d3b1a0af.05609"]]},{"id":"de21ca2e.e84828","type":"debug","z":"c28b499.b9836b8","name":"","active":true,"console":"false","complete":"false","x":2833.866409301758,"y":1197.183349609375,"wires":[]},{"id":"449e5636.ace4e8","type":"function","z":"c28b499.b9836b8","name":"Precondiciones Decision","func":"\nfunction IsJsonString(str) {\n try {\n JSON.parse(str);\n } catch (e) {\n return false;\n }\n return true;\n}\n\nvar payload = {};\npayload.respuesta=0; //ws_sal_p_res\npayload.tipocasa = \"N\";\npayload.uma = 5;//ws_sal_p_smd_ze\npayload.edad = 12;//ws_sal_p_edad\npayload.puntos= 12; //ws_sal_p_eda_sal_pto\npayload.salario= 1231;//ws_sal_p_sal_dia_mon\n\nvar msg2={};\nmsg2.payload = JSON.stringify(payload);\nif (IsJsonString(msg2.payload)===true)\n return msg2;\nelse\n console.log('message ignored')","outputs":1,"noerr":0,"x":1665.8666534423828,"y":1522.1832580566406,"wires":[[]]},{"id":"bd74f338.9d5188","type":"function","z":"c28b499.b9836b8","name":"","func":"msg.payload = msg.payload.DecisionCredito;\nreturn msg;","outputs":1,"noerr":0,"x":2801.8665313720703,"y":1100.183349609375,"wires":[["de21ca2e.e84828","97c62af7.b520d8"]]},{"id":"d3b1a0af.05609","type":"json","z":"c28b499.b9836b8","name":"","pretty":false,"x":2602.866653442383,"y":1101.183349609375,"wires":[["bd74f338.9d5188"]]},{"id":"b2087147.8daf88","type":"function","z":"c28b499.b9836b8","name":"","func":"context.global.resultado=context.global.resultado+\"Con base en la información que tengo, mi recomendación de crédito es: \"+msg.payload ;\nreturn msg;\n","outputs":1,"noerr":0,"x":3135.4163360595703,"y":1040.61669921875,"wires":[["2758ae4e.f6d152"]]},{"id":"23332e4a.6c2532","type":"catch","z":"c28b499.b9836b8","name":"","scope":["68f545ab.59de6c"],"x":642.4167327880859,"y":1472.550048828125,"wires":[["d60ba262.e29d1"]]},{"id":"d60ba262.e29d1","type":"function","z":"c28b499.b9836b8","name":"Sin identificacion","func":"context.global.resultado=\"Lo siento, no pudé identificarte como derechohabiente del infonavit.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":819.4167022705078,"y":1477.6166687011719,"wires":[["de90966a.eb13c8"]]},{"id":"de90966a.eb13c8","type":"subflow:4096bd78.50c548","z":"c28b499.b9836b8","x":1038.4166107177734,"y":1485.949951171875,"wires":[]},{"id":"97c62af7.b520d8","type":"switch","z":"c28b499.b9836b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":2969.4163360595703,"y":1063.300048828125,"wires":[["b2087147.8daf88"],["6c2f4574.df247c"]]},{"id":"6c2f4574.df247c","type":"function","z":"c28b499.b9836b8","name":"","func":"context.global.resultado=context.global.resultado+\"Lo siento, la información que tengo es inconsistente. Favor de comunicarte a Infonatel\";\nreturn msg;\n","outputs":1,"noerr":0,"x":3139.4165802001953,"y":1121.9000244140625,"wires":[["2758ae4e.f6d152"]]},{"id":"f80f8895.1fad6","type":"function","z":"c28b499.b9836b8","name":"","func":"function IsJsonString(str) {\n try {\n JSON.parse(str);\n } catch (e) {\n return false;\n }\n return true;\n}\n\nvar payload={};\npayload.respuesta=msg.payload.preca.respuesta;\npayload.tipocasa = msg.payload.preca.tipocasa;\npayload.uma = msg.payload.preca.uma;//ws_sal_p_smd_ze\npayload.edad = msg.payload.preca.edad;//ws_sal_p_edad\npayload.puntos= msg.payload.preca.puntos; //ws_sal_p_eda_sal_pto\npayload.salario= msg.payload.preca.salario;//ws_sal_p_sal_dia_mon\nmsg.payload=JSON.stringify(payload);\nif (IsJsonString(msg.payload)===true)\n return msg;\nelse\n console.log('message ignored')\nreturn msg;","outputs":1,"noerr":0,"x":2230.4500274658203,"y":1067.816650390625,"wires":[["78db2bc9.0d4b24"]]},{"id":"ab6b39a8.028bb","type":"subflow:f5a0c938.391398","z":"c28b499.b9836b8","name":"","x":2009.6416778564453,"y":1055.9332885742188,"wires":[["f80f8895.1fad6"],["2758ae4e.f6d152"]]},{"id":"8c5312ba.8b9c58","type":"http in","z":"c28b499.b9836b8","name":"Web Bot Vivienda","url":"/webbotvivienda","method":"get","upload":false,"swaggerDoc":"","x":136.3333282470703,"y":89.26666259765625,"wires":[["677b9096.a355a8","51e31d54.bf77dc"]]},{"id":"5abd9c18.6f088c","type":"http response","z":"c28b499.b9836b8","name":"","statusCode":"","headers":{},"x":2858.3330078125,"y":485.26666259765625,"wires":[]},{"id":"594289e6.44fd1","type":"switch","z":"c28b499.b9836b8","name":"","property":"emptypay","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":287.3333435058594,"y":417.6666564941406,"wires":[["b9ada241.a97fe"],["fd3205.88d83df8"]]},{"id":"51e31d54.bf77dc","type":"function","z":"c28b499.b9836b8","name":"","func":"msg.emptypay=(msg.payload.texto.length===0);\n/*\nif (msg.payload.contexto!==undefined && msg.payload.contexto.length>0)\n    {msg.contexto=JSON.parse(msg.payload.contexto);}*/\nreturn msg;","outputs":1,"noerr":0,"x":131.33334350585938,"y":167.18333435058594,"wires":[["594289e6.44fd1","35e6bce6.e11d54"]]},{"id":"fd3205.88d83df8","type":"function","z":"c28b499.b9836b8","name":"EstablecerUsuario","func":"msg.payload.texto=\"hola\";\n\nvar now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.timestamp = \n \ncontext.global.sid = \"U\"+year+month+day+hour+minute+second;\n     msg.headers = {\n         \"Content-type\" : \"application/json\"\n     };\nreturn msg;\n","outputs":1,"noerr":0,"x":514.3333740234375,"y":467.1833190917969,"wires":[["6543256f.d5da7c"]]},{"id":"35e6bce6.e11d54","type":"debug","z":"c28b499.b9836b8","name":"","active":false,"console":"false","complete":"false","x":317.3333435058594,"y":255.94998168945312,"wires":[]},{"id":"56b9f949.f78e7","type":"watson-discovery-v1","z":"c28b499.b9836b8","name":"infonavit","environmentname":"","environment_id":"eecd0001-81cb-410c-9539-b594fce1148d","collection_id":"b6868bfa-4ad1-417b-bbff-6a1a6a484b35","configurationname":"","configuration_id":"","collection_name":"","count":"3","passages":false,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","x":2690.566650390625,"y":366.1333312988281,"wires":[["eccf19bb.595da","498b6c1d.cb9acc"]]},{"id":"981911fd.7856e","type":"function","z":"c28b499.b9836b8","name":"precondicionesBusqueda","func":"msg.discoveryparams={query:\"\"};\nmsg.discoveryparams.query=context.global.busqueda;\nreturn msg;","outputs":1,"noerr":0,"x":2460.566650390625,"y":366.1333312988281,"wires":[["56b9f949.f78e7"]]},{"id":"eccf19bb.595da","type":"debug","z":"c28b499.b9836b8","name":"salida discovery","active":true,"console":"false","complete":"true","x":2930.566650390625,"y":286.1333312988281,"wires":[]},{"id":"5b368c5c.27d1d4","type":"inject","z":"c28b499.b9836b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2510.566650390625,"y":306.1333312988281,"wires":[["56b9f949.f78e7"]]},{"id":"498b6c1d.cb9acc","type":"function","z":"c28b499.b9836b8","name":"salida discovery","func":"context.global.rbusqueda=(msg.search_results.results.length>0);\nmsg.payload.context.user=context.global.sid;\ncontext.global.contexto=msg.payload.context;\nvar resultadosbusqueda=msg.search_results.results;\nif (resultadosbusqueda.length>0 && resultadosbusqueda[0].score >.5)\n{\n    var textodesalida=\"Esto es lo que he encontrado:\\n \"+resultadosbusqueda[0].text;\n    var textodesalida=resultadosbusqueda[0].html;\n    var textodesalida=resultadosbusqueda[0].text;\n    var texto=textodesalida;\n    /*if (textodesalida.length>639)\n    {\n        texto=textodesalida.substring(0,639);\n    }\n    else\n    { texto=textodesalida;}*/\n    var inicio=\"no title\\n\\n\".toString().length;\n    var fin=\"no title\\n\\n\".toString().length;\n    var text=texto.substring(fin,texto.length);\n    context.global.resultado=\"Esto es lo que he encontrado: \"+text;\n   \n}\nelse\n{\n   context.global.resultado=\"Lo siento, no tengo una respuesta. ¿puedes escribir de otra forma tú pregunta?\";\n}\ncontext.global.contexto.texto=context.global.resultado;\n    msg.payload=context.global.contexto;\n//msg.payload=context.global.resultado+\" \"+context.global.contexto;\nmsg.contexto=context.global.contexto;\nreturn msg;","outputs":1,"noerr":0,"x":2900.566650390625,"y":366.1333312988281,"wires":[["be7c476b.9b8a2","66b1156a.b48d6c"]]},{"id":"66b1156a.b48d6c","type":"http response","z":"c28b499.b9836b8","name":"","statusCode":"","headers":{},"x":3341.1669921875,"y":322.75,"wires":[]},{"id":"be7c476b.9b8a2","type":"debug","z":"c28b499.b9836b8","name":"","active":true,"console":"false","complete":"true","x":3178,"y":448,"wires":[]},{"id":"1651602d.739e3","type":"debug","z":"c28b499.b9836b8","name":"","active":true,"console":"false","complete":"true","x":2536,"y":561,"wires":[]},{"id":"70e654a4.c9d1d4","type":"http request","z":"c28b499.b9836b8","name":"IVR","method":"POST","ret":"txt","url":"https://201.134.132.139:7443/bpm/infonavitorgmx/appwd/pinfbpmivr/Microflujo_IVR","tls":"ef93e6fa.80c3e8","x":963.566650390625,"y":938.1666870117188,"wires":[["453592b8.98beac"]]},{"id":"71f7bfe7.a30d3","type":"function","z":"c28b499.b9836b8","name":"","func":"//msg.url\nvar nss=msg.mensaje;\nmsg.method=\"StartFlow\";\nmsg.headers=\"Accept-Encoding: gzip,deflate Content-Type: text/xml;charset=UTF-8 SOAPAction: \\\"http://infonavit.org.mx/IniciarIVR/StartFlow\\\" Content-Length: 372 Host: 201.134.132.139:7443 Connection: Keep-Alive User-Agent: Apache-HttpClient/4.5.2 (Java/1.8.0_131)\";\n//msg.cookies\nmsg.payload=\"<soapenv:Envelope xmlns:soapenv=\\\"http://schemas.xmlsoap.org/soap/envelope/\\\" xmlns:inic=\\\"http://infonavit.org.mx/IniciarIVR/\\\">    <soapenv:Header/> <soapenv:Body>      <inic:StartFlow>         <codigoOperacion>00</codigoOperacion> <nss>\"+nss+\"</nss>          <numCredito/>          <numCaso/>       </inic:StartFlow> </soapenv:Body> </soapenv:Envelope>\";\nreturn msg;","outputs":1,"noerr":0,"x":823.566650390625,"y":938.1666870117188,"wires":[["70e654a4.c9d1d4"]]},{"id":"453592b8.98beac","type":"xml","z":"c28b499.b9836b8","name":"","attr":"","chr":"","x":863.566650390625,"y":1018.1666870117188,"wires":[["de1884d.6b5a0f8"]]},{"id":"de1884d.6b5a0f8","type":"function","z":"c28b499.b9836b8","name":"","func":"\nvar envelope= msg.payload[\"SOAP-ENV:Envelope\"];\nvar body=envelope[\"SOAP-ENV:Body\"];\nvar respuesta=body[0];\nvar iniciorespuesta=respuesta[\"ns1:StartFlowResponse\"];//JSON.stringify(respuesta);\nvar DatosIdentifica=iniciorespuesta[0].DatosIdentifica[0];\nmsg.payload.preca={};\nmsg.payload.preca.valido=DatosIdentifica[\"ns2:trabajadorValido\"][0];\nmsg.trabajadorvalido=msg.payload.preca.valido;\nreturn msg;","outputs":1,"noerr":0,"x":863.566650390625,"y":1078.1666870117188,"wires":[["6ca3ee8a.62ae4","17d62b24.1efed5"]]},{"id":"6ca3ee8a.62ae4","type":"debug","z":"c28b499.b9836b8","name":"","active":true,"console":"false","complete":"true","x":979.566650390625,"y":1193.1666870117188,"wires":[]},{"id":"2758ae4e.f6d152","type":"function","z":"c28b499.b9836b8","name":"","func":"var textosalida=context.global.resultado;\nvar texto=context.global.resultado;\nmsg.contexto=context.global.contexto;\n   /* if (textosalida.length>639)\n    {\n        texto=textosalida.substring(0,639);\n    }*/\n    context.global.resultado=texto;\n    context.global.contexto.texto=texto;\n    msg.payload=context.global.contexto;\nreturn msg;","outputs":1,"noerr":0,"x":2275.16650390625,"y":1240.4666748046875,"wires":[["3c9d7aec.07d026"]]},{"id":"3c9d7aec.07d026","type":"http response","z":"c28b499.b9836b8","name":"","statusCode":"","headers":{},"x":2400.166519165039,"y":1258.683364868164,"wires":[]},{"id":"ef93e6fa.80c3e8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
