controladorNODERED
[{"id":"80fef6f3.fc4ab8","type":"debug","z":"bd74b8f5.a5cc48","name":"Evaluacion Confiabilidad","active":false,"console":"false","complete":"true","x":1730,"y":220,"wires":[]},{"id":"d2775394.97eec","type":"function","z":"bd74b8f5.a5cc48","name":"Set Conversation Input","func":"\ncontext.global.rid = \"\"; //Asginar RID\n/*if (msg.payload.texto===\" \")\n{\n msg.payload.texto=\"hola\";\n}*/\ncontext.global.busqueda=msg.payload.texto;\ncontext.global.pregunta=msg.payload.texto;\nmsg.payload = msg.payload.texto;\n /*msg.payload = msg.payload.replace( /\\t/ , \"\");\n msg.payload = msg.payload.replace( /\\n/ , \"\");\n msg.payload = msg.payload.replace( /\\r/ , \"\");\n msg.payload = msg.payload.replace( /\\b/ , \"\");\n msg.payload = msg.payload.replace( /\\f/ , \"\");\n msg.payload = msg.payload.replace( \"=\" , \"\");*/\nmsg.user=context.global.sid;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":140,"wires":[["aa3a061b.488848"]]},{"id":"433fffce.228ec8","type":"function","z":"bd74b8f5.a5cc48","name":"Revisa Necesidad Busqueda","func":"context.global.buscar=false;\nmsg.buscar=false;\nmsg.payload.context.user=context.global.sid;\ncontext.global.nss=msg.payload.context.esperanss;\ncontext.global.resultado=msg.payload.output.text[0];\nmsg.nss=context.global.nss;\ncontext.global.contexto=msg.payload.context;\n\ncontext.global.buscar=msg.payload.context.buscar;\nmsg.buscar=msg.payload.context.buscar;\n\nif (msg.payload!==undefined)\n{\n \n if (msg.payload.intents.length===0)\n {\n context.global.buscar=true;\n msg.buscar=true;\n }\n else\n {\n if(msg.payload.intents[0].confidence!==undefined && msg.payload.intents[0].confidence<0.8)\n {\n context.global.buscar=true;\n msg.buscar=true;\n }\n }\n}\nelse\n{\n context.global.buscar=true;\n msg.buscar=true; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":140,"wires":[["80fef6f3.fc4ab8","66d40e33.aba5d"]]},{"id":"aa3a061b.488848","type":"watson-conversation-v1","z":"bd74b8f5.a5cc48","name":"Conversacion","workspaceid":"65a2dc55-bcea-4937-8a23-2bdd65d694b0","multiuser":true,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":1120,"y":140,"wires":[["433fffce.228ec8","715b7cc5.75e704"]]},{"id":"715b7cc5.75e704","type":"debug","z":"bd74b8f5.a5cc48","name":"","active":false,"console":"false","complete":"true","x":1350,"y":200,"wires":[]},{"id":"66d40e33.aba5d","type":"function","z":"bd74b8f5.a5cc48","name":"","func":"\n\nvar textosalida=context.global.resultado;\nvar texto=context.global.resultado;\nmsg.contexto=context.global.contexto;\n\n context.global.resultado=texto;\n context.global.contexto.texto=texto;\n msg.payload=context.global.contexto;\n msg.payload=texto;\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":140,"wires":[["878efbea.20b828","ed4e009a.26e19"]]},{"id":"b97a25c2.fdaa68","type":"http in","z":"bd74b8f5.a5cc48","name":"Web Bot","url":"/webbot","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["718167c5.0635a"]]},{"id":"adadbc8c.26bfa8","type":"http response","z":"bd74b8f5.a5cc48","name":"","statusCode":"","headers":{},"x":2050,"y":140,"wires":[]},{"id":"718167c5.0635a","type":"function","z":"bd74b8f5.a5cc48","name":"","func":"msg.emptypay=(msg.payload.texto.length===0);\n\nif (msg.emptypay)\n{\n    msg.payload.texto=\"hola\";\n}\n/*\nif (msg.payload.contexto!==undefined && msg.payload.contexto.length>0)\n {msg.contexto=JSON.parse(msg.payload.contexto);}*/\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["5dd99814.b53cec"]]},{"id":"5dd99814.b53cec","type":"function","z":"bd74b8f5.a5cc48","name":"EstablecerUsuario","func":"\n\nvar now = new Date(); \nvar year = now.getFullYear();\nvar month = now.getMonth()+1; \nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n} \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n} \nmsg.timestamp = \n \ncontext.global.sid = \"U\"+year+month+day+hour+minute+second;\n msg.headers = {\n \"Content-type\" : \"application/json\"\n };\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["d2775394.97eec"]]},{"id":"878efbea.20b828","type":"debug","z":"bd74b8f5.a5cc48","name":"","active":true,"console":"false","complete":"true","x":2010,"y":220,"wires":[]},{"id":"ed4e009a.26e19","type":"html","z":"bd74b8f5.a5cc48","name":"","tag":"","ret":"html","as":"single","x":1890,"y":120,"wires":[["adadbc8c.26bfa8"]]}]
